<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>


      <h2>Rendering all candidates data</h2>

      <a href = "{% url 'add-student' %}">Add Student</a>
      <table border=1>
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>Actions</th>

        </tr>
        <tr>
            
            {% if candidates %}
            {% for candidate in candidates %}

            <td>{{ candidate.first_name }}</td>
            <td>{{ candidate.last_name }}</td>
            <td>{{ candidate.email }}</td>
            <td>
                <a href="{% url 'edit-candidate' candidate.id %}">Edit</a>
                <a href="{% url 'delete-candidate' candidate.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
        <td colspan ="3">no data</td>
    </tr>
    {% endif %}
      </table>

      

    </body>
</html>